dropbox==11.36.0
google_api_python_client==2.76.0
google_auth_oauthlib==0.8.0
numpy==1.23.0
Pillow==9.4.0
protobuf==4.21.12
python-dotenv==0.21.1
scipy==1.8.1
telegram==0.0.1
# picamera==1.13 doesn't include this fix https://github.com/waveform80/picamera/issues/502
picamerax==21.9.8
